.App {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 60vh;

  align-items: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin: 5% 5%;
  width: 90%;
  &-container {
    width: 80%;
    border: 1px solid orangered;
    display: flex;
    &--card {
      border: 1px solid green;
    }
  }
}
